{% extends 'dashboard.html' %} {% block title_section %}Crear Vehículo{% endblock %}
{% block content %}
<a class="d-flex gap-1 text-muted text-decoration-none" href="{% url 'rrggweb:quotation:insurance:vehicle:update_customer' view.kwargs.consultant_id view.kwargs.customer_id %}"><i class="bi bi-arrow-left"></i>Volver</a>
<div class="mt-2">
  <span><b>Consultant:</b> {{ consultant }}</span>
  <br />
  <span><b>Customer:</b> {{ customer }}</span>
  <hr class="w-25"/>
<div>
<form method="post">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input class="btn btn-primary" type="submit" />
</form>
{% endblock content %}
