{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% load i18n %}
{% block title_section %}
  Crear Propietario
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% include "rrggweb/utils/stepper.html" with step=3 max_step=5 %}
      <a class="btn btn-outline-dark btn-sm mt-3 mb-4"
         href="{% url 'rrggweb:quotation:insurance:vehicle:search_customer' view.kwargs.consultant_id %}"><i class="fas fa-long-arrow-alt-left"></i>Volver</a>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
      </form>
    </div>
  </div>
{% endblock content %}
