{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  Crear Cotización Vehícular
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% include "rrggweb/utils/stepper.html" with step=4 max_step=5 %}
      <a class="btn btn-outline-dark btn-sm mt-3 mb-4" href="">
        {% comment %}{% url 'rrggweb:quotation:insurance:vehicle:update_vehicle' view.kwargs.consultant_id view.kwargs.vehicle_id 'create' %}  {% endcomment %}
        <i class="fas fa-long-arrow-alt-left"></i>Volver
      </a>
      <div class="mt-2">
        <h5>
          <b>Asesor:</b> {{ consultant }}
        </h5>
        <h5>
          <b>Cliente:</b> {{ customer }}
        </h5>
        <h5>
          <b>Vehículo:</b> {{ vehicle }}
        </h5>
        <hr class="w-25" />
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
      </form>
    </div>
  </div>
{% endblock content %}
