{% extends 'dashboard.html' %} {% block title_section %}Crear Poliza Vehícular{% endblock %}
{% block content %}
Consultant: {{ consultant }}
<br />
Customer: {{ customer }}
<br />
Vehicle: {{ vehicle }}
<br />
<form method="post">
  {% csrf_token %}
  <table>
    {{ form }}
  </table>
  <input class="btn btn-primary" type="submit" />
  <a href="{% url 'rrggweb:quotation:insurance:vehicle:update_vehicle' view.kwargs.consultant_id view.kwargs.vehicle_id %} ">Volver</a>
</form>
{% endblock content %}
