{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  {{ title }}
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% if step %}
        {% include "rrggweb/utils/stepper.html" with step=2 max_step=6 %}
      {% endif %}
      <a class="btn btn-outline-dark btn-sm mt-3 mb-4"
         href="{{ previous_page }}"><i class="fas fa-long-arrow-alt-left"></i>Volver</a>
      {% if seller %}
        <div class="mt-2">
          <h5>
            <b>Asesor:</b> {{ seller }}
          </h5>
          <hr class="w-25 mb-3" />
          <h5>
            <b>Datos del Contratante</b>
          </h5>
        </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <small id="document_number_error" class="text-danger d-none">El número de documento no puede contener letras o estar vacío. Mínimo 8 números.</small>
        <br />
        <button class="btn btn-primary btn-block mt-3" type="submit" id="next_button">Siguiente</button>
      </form>
    </div>
  </div>
  <script>
    const documentNumberInput = document.querySelector('#id_document_number');
    const documentNumberError = document.querySelector('#document_number_error');
    const nextButton = document.querySelector('#next_button');

    documentNumberInput.addEventListener('input', () => {
      const documentNumber = documentNumberInput.value;
      if (/^[0-9]{8,}$/.test(documentNumber)) {
        documentNumberInput.classList.remove('is-invalid');
        documentNumberError.classList.add('d-none');
        nextButton.disabled = false;
      } else {
        documentNumberInput.classList.add('is-invalid');
        documentNumberError.classList.remove('d-none');
        nextButton.disabled = true;
      }
    });
  </script>
{% endblock content %}
