{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  Definir Propietario
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% include "rrggweb/utils/stepper.html" with step=3 max_step=5 %}
      <a class="btn btn-outline-dark btn-sm mt-3 mb-4"
         href="{% url 'rrggweb:quotation:insurance:vehicle:step_update_vehicle' view.kwargs.consultant_id view.kwargs.vehicle_id view.kwargs.customer_id %}">
        <i class="fas fa-long-arrow-alt-left"></i> Volver
      </a>
      <form method="post">
        {% csrf_token %}
        <div class="form-check mb-3">
          <label class="form-check-label" for="{{ form.is_owner.id_for_label }}">{{ form.is_owner.label }}</label>
          {{ form.is_owner }}
        </div>
        <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
      </form>
    </div>
  </div>
{% endblock content %}
