{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  {{ title }}
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% if step %}
        {% include "rrggweb/utils/stepper.html" with step=5 max_step=6 %}
      {% endif %}
      <a class="btn btn-outline-dark btn-sm mt-3 mb-4" href="{{ previous_page }}">
        <i class="fas fa-long-arrow-alt-left"></i>Volver
      </a>
      {% if seller or customer %}
        <div class="mt-2">
          <h5>
            <b>Asesor:</b> {{ seller }}
          </h5>
          <h5>
            <b>Contratante:</b> {{ customer }}
          </h5>
          <h5>
            <b>Vehículo:</b> {{ vehicle }}
          </h5>
          <h5>
            <b>Propietario:</b> {{ owner }}
          </h5>
          <hr class="w-25" />
        </div>
      {% endif %}
      <div>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
