{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  {{ title }}
  <h6>{{ subtitle }}</h6>
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% if initial_step == 5 and final_step == 6 %}
        {% include "rrggweb/utils/stepper.html" with step=5 max_step=6 %}
      {% elif initial_step == 5 and final_step == 9 %}
        {% include "rrggweb/utils/stepper.html" with step=5 max_step=9 %}
      {% endif %}
      <a class="btn btn-outline-dark btn-sm mb-3" href="{{ previous_page }}">
        <i class="fas fa-long-arrow-alt-left"></i>Volver
      </a>
      <div class="mt-2">
        {% if seller or customer or vehicle or owner %}
          <h5>
            Asesor: <b>{{ seller }}</b>
          </h5>
          <h5>
            Contratante: <b>{{ customer }}</b>
          </h5>
          <h5>
            Vehículo: <b>{{ vehicle }}</b>
          </h5>
          <h5>
            Asegurado: <b>{{ owner }}</b>
          </h5>
          <hr class="w-25" />
        {% endif %}
      </div>
      <div>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
