{% extends "rrggweb/dashboard.html" %}
{% block title_section %}
    {{ title }}
    <h6>{{ subtitle }}</h6>
{% endblock title_section %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap gap-2 mb-3">
        <div>
            <a class="btn btn-outline-dark" href="{{ previous_page }}">
                <i class="fas fa-long-arrow-alt-left"></i>Volver
            </a>
        </div>
        {% if new_register %}
            <div>
                <a class="btn btn-warning" href="{{ new_register }}">Nueva registro
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar" name="q" value="{{ search_query }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"></i></button>
                        {% if search_query %}
                            <button class="btn btn-outline-danger my-2 my-sm-0" type="button" onclick="window.location.href='{{ previous_list }}'"><i class="fa fa-times"></i></button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Cliente</th>
                    <th scope="col">Nº de documento</th>
                    <th scope="col">Vehiculo</th>
                    <th scope="col">Suma asegudara</th>
                    <th scope="col">Asesor</th>
                    <th scope="col">¿Expiró?</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for quotation in object_list %}
                    <tr>
                        <td class="align-middle" scope="row">{{ quotation.customer.pick }}</td>
                        <td class="align-middle">{{ quotation.customer.pick.document_number }}</td>
                        <td class="align-middle">{{ quotation.vehicle }}</td>
                        <td class="align-middle">{{ quotation.currency.symbol}}{{ quotation.insured_amount }}</td>
                        <td class="align-middle">{{ quotation.consultant_seller }}</td>
                        <td class="align-middle">
                            {% if quotation.expired %}
                                <span class="badge bg-danger align-middle">Si</span>
                            {% else %}
                                <span class="badge bg-success align-middle">No</span>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-primary btn-sm"
                               href="{% url 'rrggweb:quotation:insurance:vehicle:detail' view.kwargs.registrar_id quotation.id %}">
                                Ver
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No se encontraron cotizaciones.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-3">
            <p>Total de cotizaciones registradas: {{ object_list|length }}</p>
        </div>
        {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&lsaquo;</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page_obj.number }}</a>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&rsaquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock content %}
