{% extends 'rrggweb/dashboard.html' %} {% block title_section %}Lista de cotizaciones de seguros vehiculares{% endblock %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <div>
        <a class="btn btn-primary" href="{% url 'rrggweb:quotation:insurance:vehicle:search' view.kwargs.consultant_id %}">Crear Nuevo Seguro
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Vehiculo</th>
                <th scope="col">Asesor</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for quotation in object_list %}
            <tr class="">
                <td scope="row">{{ quotation.vehicle.customer }}</td>
                <td>{{ quotation.vehicle }}</td>
                <td>{{ quotation.consultant }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'rrggweb:quotation:insurance:vehicle:detail' view.kwargs.consultant_id quotation.id %}">
                    <i class="bi bi-eye-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
