{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  Seleccionar Vendedor
{% endblock title_section %}
{% block content %}
  {% include "rrggweb/utils/stepper.html" with step=1 max_step=6 %}
  <a
    class="d-flex gap-1 text-muted text-decoration-none"
    href="{{ previous_page }}">
    <i class="bi bi-arrow-left"></i>Volver
  </a>
  <form method="post">
    {% csrf_token %}
    <table class="mt-5 mb-5">
      {{ form.as_table }}
    </table>
    <input class="btn btn-primary" type="submit" value="Enviar" />
  </form>
  {% endblock content %}
