{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% load i18n %}
{% block title_section %}
  Editar Prima de Aseguradora Vehicular
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% include "rrggweb/utils/stepper.html" with step=5 max_step=5 %}
      <a class="d-flex gap-1 text-muted text-decoration-none"
         href="{% url 'rrggweb:quotation:insurance:vehicle:detail' view.kwargs.consultant_id object.quotation_insurance_vehicle.id %}">
        <i class="fas fa-long-arrow-alt-left"></i>Volver
      </a>
      <form method="post">
        {% csrf_token %}
          {{ form }}
        <input class="btn btn-primary" type="submit" />
      </form>
    </div>
  </div>
{% endblock content %}
