{% extends 'rrggweb/dashboard.html' %}

{% load i18n %}

{% block title_section %}Vincular Primas de Seguro Vehicular{% endblock %}

{% block content %}
<a
  class="d-flex gap-1 text-muted text-decoration-none"
  href="{% url 'rrggweb:quotation:insurance:vehicle:detail' view.kwargs.consultant_id view.object.quotation_insurance_vehicle.id %}"
  >
  <i class="bi bi-arrow-left"></i>Volver
</a>
<form method="post">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <input class="btn btn-primary" type="submit" />
</form>
{% endblock content %}
