{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% load i18n %}
{% block title_section %}
  Actualizar Propietario
{% endblock title_section %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    {% include "rrggweb/utils/stepper.html" with step=4 max_step=6 %}
    <a class="btn btn-outline-dark btn-sm mt-3 mb-4" href="{{ previous_page }}">
      <i class="bi bi-arrow-left"></i>Volver
    </a>
    <div class="mt-3">
      <h5>
        <b>Asesor:</b> {{ seller }}
      </h5>
      <h5>
        <b>Cliente:</b> {{ customer }}
      </h5>
      <h5>
        <b>Vehículo:</b> {{ vehicle }}
      </h5>
      <hr class="w-50" />
      <h5>
        <b>Datos del propietario:</b>
      </h5>
    <div>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form }}
      </table>
      <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
    </form>
  </div>
</div>
{% endblock content %}
