{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% load i18n %}
{% block title_section %}
  Editar Cotización Vehícular
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% include "rrggweb/utils/stepper.html" with step=4 max_step=5 %}
      <div class="mt-2">
        <h5>
          <b>Asesor:</b> {{ view.object.consultant }}
        </h5>
        <h5>
          <b>Cliente:</b> {{ view.object.customer }}
        </h5>
        <h5>
          <b>Vehículo:</b> {{ view.object.vehicle }}
        </h5>
        <hr class="w-25" />
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
      </form>
    </div>
  </div>
{% endblock content %}
