{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  Actualizar Cliente
{% endblock title_section %}
{% block content %}
{% include "rrggweb/utils/stepper.html" with step=1 max_step=5 %}
  <a class="d-flex gap-1 text-muted text-decoration-none"
     href="{% url 'rrggweb:quotation:insurance:vehicle:search_customer' view.kwargs.consultant_id %}"> <i class="bi bi-arrow-left"></i>Volver </a>
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <input class="btn btn-primary" type="submit" />
  </form>
{% endblock content %}
