{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  {{ title }}
  <h6>{{ subtitle }}</h6>
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% if initial_step == 6 and final_step == 9 %}
        {% include "rrggweb/utils/stepper.html" with step=6 max_step=9 %}
      {% endif %}
      <a class="btn btn-outline-dark btn-sm mb-3"
         href="{{ previous_page }}">
        <i class="fas fa-long-arrow-alt-left"></i>Volver
      </a>
      <form method="post">
        {% csrf_token %}
        <div id="insured_amount" class="d-none">{{ insured_amount }}</div>
        {{ form }}
        <button class="btn btn-primary btn-block mt-3" type="submit">Editar</button>
      </form>
    </div>
  </div>
  <script>
    const insuredAmount = Number(document.querySelector('#insured_amount').textContent);
    const amountInput = document.querySelector('#id_amount');
    const rateInput = document.querySelector('#id_rate');

    amountInput.addEventListener('input', () => {
      const amount = Number(amountInput.value);
      const rate = insuredAmount / amount;
      rateInput.value = rate.toFixed(2);
    });
  </script>
{% endblock content %}
