{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  Actualizar Cliente
{% endblock title_section %}
{% block content %}
{% include "rrggweb/utils/stepper.html" with step=2 max_step=6 %}
  <a class="d-flex gap-1 text-muted text-decoration-none"
  href="{{ previous_page }}"> <i class="bi bi-arrow-left"></i>Volver
  </a>
  <div class="mt-3">
    <h5>
      <b>Asesor:</b> {{ seller }}
    </h5>
    <hr class="w-30" />
    <h5>
      <b>Datos del cliente:</b>
    </h5>
  <div>
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <input class="btn btn-primary" type="submit" />
  </form>
{% endblock content %}
