{% extends "rrggweb/base.html" %}
{% block title %}
    Dashboard
{% endblock title %}
{% block head %}
    <style>
    .content-margin {
        margin-left: 280px;
    }
    </style>
{% endblock head %}
{% block body %}
    <style>{% include 'rrggweb/sidebar.css' %}</style>
    <main class="vh-100">
        {% include "rrggweb/topbar.html" %}
        <main>
            {% include "rrggweb/sidebar.html" %}
            <div class="content-margin">
                <div class="p-3 border-dark bg-body-tertiary border-bottom border-dark-subtle">
                    <h5 class="mb-0">
                        {% block title_section %}
                        {% endblock title_section %}
                    </h5>
                </div>
                <section class="container ms-0 p-3 w-100">
                    {% block content %}
                    {% endblock content %}
                </section>
            </div>
        </main>
    </main>
{% endblock body %}
