{% extends "rrggweb/base.html" %}
{% load static %}
{% block title %}
    Dashboard
{% endblock title %}
{% block body %}
    <div id="layout-wrapper">
        {% include "rrggweb/topbar.html" %}
        {% include "rrggweb/sidebar.html" %}
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h6 class="page-title">
                                    {% block title_section %}
                                    {% endblock title_section %}
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock body %}
