{% extends "rrggweb/dashboard.html" %}
{% block title_section %}
  Seguros
{% endblock title_section %}
{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <div id="chart" style="max-width: 900px;"></div>
    </div>
    <div class="col-lg-6">
      <div id="new_chart" style="max-width: 900px;"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div id="line_chart" style="max-width: 900px;"></div>
    </div>
  </div>
  <script>
    var options = {
      chart: {
        type: 'pie'
      },
      title: {
        text: 'Riesgo por Prima Total',
        align: 'center'
      },
      series: [
        {% for item in data %}
          {{ item.total_premium }},
        {% endfor %}
      ],
      labels: [
        {% for item in data %}
        '{{ item.risk_group }}',
        {% endfor %}
      ]
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();

    var newOptions = {
      chart: {
        type: 'bar'
      },
      title: {
        text: 'Cia de seguro por comisión',
        align: 'center'
      },
      series: [
        {
          name: 'Porcentaje de Comisión de KCS',
          data: {{ chart.series.0.data|safe }}.map(function(num) { return parseFloat(num.toFixed(2)); })
        }
      ],
      xaxis: {
        categories: {{ chart.categories|safe }}
      },
      yaxis: {
        labels: {
          formatter: function (value) {
            return value + "%";
          }
        }
      },
      colors: ['#7e9a6b', '#7e9a6b', '#7e9a6b', '#7e9a6b', '#7e9a6b', '#7e9a6b']
    };

    var newChart = new ApexCharts(document.querySelector("#new_chart"), newOptions);
    newChart.render();

    var lineOptions = {
      chart: {
        type: 'line'
      },
      title: {
        text: 'Conteo de Pólizas por Asesor',
        align: 'center'
      },
      series: [
        {
          name: 'Conteo de Pólizas',
          data: {{ policy_count_by_consultant|safe }}.map(function(item) { return item.policy_count; })
        }
      ],
      xaxis: {
        categories: {{ policy_count_by_consultant|safe }}.map(function(item) { return item.consultant; })
      },
      colors: ['#3c6aff']
    };

    var lineChart = new ApexCharts(document.querySelector("#line_chart"), lineOptions);
    lineChart.render();
  </script>
{% endblock content %}