{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %}
<div class="d-flex vh-100">
  {% include 'sidebar.html' %}
  <section class="p-3 w-100">
    <h2>Seguros</h2>
    <hr />
    <main class="d-flex flex-wrap gap-3">
      {% for seguro in seguros%}
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title">{{seguro.name}}</h5>
          <a href="{{seguro.url}}" class="btn btn-primary">Ir</a>
        </div>
      </div>
      {% endfor %}
    </main>
  </section>
</div>
{% endblock %}
