{% extends "rrggweb/issuance/insurance/vehicle/base.html" %}
{% block title_section %}
  {{ title }}
  <h6>{{ subtitle }}</h6>
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-8">
      {% include "rrggweb/utils/stepper.html" with step=3 max_step=4 %}
      <a class="btn btn-outline-dark btn-sm mb-3" href="{{ previous_page }}">
        <i class="fas fa-long-arrow-alt-left"></i> Volver
      </a>
      {% if customer %}
        <div class="row">
          <div class="col-md-6">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th colspan="2" class="font-weight-bold">
                    Datos del contratante
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="font-weight-bold">Tipo de documento</td>
                  <td>{{ customer.document_type}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Número de documento</td>
                  <td>{{ customer.document_number }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nombres y apellidos</td>
                  <td>{{ customer }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th colspan="2" class="font-weight-bold">
                    Datos del asegurado
                  </th>
                </tr>
              </thead>
              <tbody>
                {% if owner %}
                  <tr>
                    <td class="font-weight-bold">Tipo de documento</td>
                    <td>{{ owner.document_type}}</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">Número de documento</td>
                    <td>{{ owner.document_number }}</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">Nombres y apellidos</td>
                    <td>{{ owner }}</td>
                  </tr>
                {% else %}
                  <tr>
                    <td class="font-weight-bold">Tipo de documento</td>
                    <td>{{ customer.document_type}}</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">Número de documento</td>
                    <td>{{ customer.document_number }}</td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold">Nombres y apellidos</td>
                    <td>{{ customer }}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      {% if customer %}
        <div class="row">
          <div class="col-md-6">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th colspan="2" class="font-weight-bold">
                    Datos del Bien Asegurado
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="font-weight-bold">Placa</td>
                  <td>{{ vehicle.plate }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Marca</td>
                  <td>{{ vehicle.brand }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Modelo</td>
                  <td>{{ vehicle.vehicle_model }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Año de fabricación</td>
                  <td>{{ vehicle.fabrication_year }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Número de motor</td>
                  <td>{{ vehicle.engine }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Número de chasis</td>
                  <td>{{ vehicle.chassis }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Número de asientos</td>
                  <td>{{ vehicle.seat_number }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Tipo de uso</td>
                  <td>{{ vehicle.use_type }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Clase</td>
                  {% if vehicle.class_type %}
                    <td>{{ vehicle.class_type }}</td>
                  {% else %}
                    <td>-</td>
                  {% endif %}
                </tr>
                <tr>
                  <td class="font-weight-bold">¿Requiere gps?</td>
                  {% if vehicle.has_gps %}
                    <td>Sí</td>
                  {% else %}
                    <td>No</td>
                  {% endif %}
                </tr>
                <tr>
                  <td class="font-weight-bold">¿Es endosado?</td>
                  {% if vehicle.has_endorsee %}
                    <td>Sí</td>
                  {% else %}
                    <td>No</td>
                  {% endif %}
                </tr>
                {% if vehicle.has_endorsee %}
                  <tr>
                    <td class="font-weight-bold">Banco</td>
                    <td>{{ vehicle.endorsement_bank }}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th colspan="2" class="font-weight-bold">
                    Datos del asesor
                    {% if change_seller %}
                      <a href="{{ change_seller }}"><i class="fas fa-pencil-alt"></i></a>
                    {% endif %}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="font-weight-bold">Tipo de asesor</td>
                  <td>{{ seller.role }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Nombres y apellidos</td>
                  <td>{{ seller }}</td>
                </tr>
                <tr>
                  {% if renewal_form or new_renewal_form%}
                    <td class="font-weight-bold">Comisión por renovación</td>
                    <td>{% widthratio seller.commission_rate.renewal 1 100 %}%</td>
                  {% else %}
                    <td class="font-weight-bold">Comisión por venta nueva</td>
                    <td>{% widthratio seller.commission_rate.new_sale 1 100 %}%</td>
                  {% endif %}
                </tr>
              </tbody>
            </table>
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th colspan="2" class="font-weight-bold">Datos de la emisión</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="font-weight-bold">Ramo</td>
                  <td>
                    {{ quotation.risk }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Aseguradora</td>
                  <td>{{ ratio.insurance_vehicle }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Plan de seguro</td>
                  <td>{{ insurance_plan }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Tipo de moneda</td>
                  <td>
                    {{ quotation.currency }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Suma asegurada</td>
                  <td>
                    {{quotation.currency.symbol}}{{ premium.quotation_insurance_vehicle.insured_amount }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Tasa</td>
                  <td>{{quotation.currency.symbol}}{{ premium.rate }}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Prima neta</td>
                  <td>
                    {{quotation.currency.symbol}}{{ premium.amount }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Prima comercial</td>
                  <td>
                    {{quotation.currency.symbol}}{{ premium.commercial_premium }}
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-bold">Prima total</td>
                  <td>{{quotation.currency.symbol}}{{ premium.total }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {% if messages %}
          <ul class="messages list-unstyled">
            {% for message in messages %}
              <alert class="alert alert-{{ message.tags }} alert-dismissible fade show d-flex gap-2 w-25" role="alert">
                <i class="bi bi-exclamation-circle-fill"></i>
                {{ message }}
              </alert>
            {% endfor %}
          </ul>
        {% endif %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
      </form>
    </div>
  </div>
  <script>
    const initialValidity = document.querySelector('#id_initial_validity');
    const finalValidity = document.querySelector('#id_final_validity');

    initialValidity.addEventListener('change', () => {
      const date = new Date(initialValidity.value);
      date.setFullYear(date.getFullYear() + 1);
      finalValidity.value = date.toISOString().slice(0, 10);
    });
  </script>
{% endblock content %}
