<a href="{% url 'rrggadmin:home' %}">🏠</a>
<a href="{% url menu.create_name %}">🆕</a>
<table>
    <thead>
        <tr>
            {% for field in object_fields %}<th>{{ field }}</th>{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for obj in object_items %}
        <tr>
            {% for field in obj.fields %}
            <td>
                <a href="{% url menu.detail_name obj.pk %}">{{ field }}</a>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'rrggadmin/pagination.html' %}
