{% extends 'base.html' %} {% block title %} Dashboard {% endblock %} {% block body %}
<style>
{% include 'sidebar.css' %}
</style>
<main class="vh-100">
{% include 'topbar.html' %}
    <main>
        {% include 'sidebar.html' %}
        <section class="container p-3 w-100" style="margin-left: 280px;">
            <h3>{% block title_section %}{% endblock title_section %}</h3>
            <hr />
        {% block content %}
        {% endblock content %}
        </section>
    </main>
</main>
{% endblock %}
