{% extends 'base.html' %} {% block title %} Dashboard {% endblock %} {% block body %}
<style>
{% include 'sidebar.css' %}
</style>
<main class="vh-100">
{% include 'topbar.html' %}
    <main>
        {% include 'sidebar.html' %}
        <div class="ms-0 w-100">
            <div class="p-3 border-dark bg-body-tertiary border-bottom border-dark-subtle">
                <h5 class="mb-0">{% block title_section %}{% endblock title_section %}</h5>
            </div>
            <section class="container ms-0 p-3 w-100">
                {% block content %}
                {% endblock content %}
            </section>
        </div>
    </main>
</main>
{% endblock %}
