{% extends 'rrggadmin/dashboard.html' %}

{% block titlebar_title %}
    {% include 'rrggadmin/navbar.html' %}
{% endblock %}

{% block container %}
    <ul>
        {% for price in object_list %}
            <li><a href="{% url 'rrggadmin:insurance:vehicle:price:detail' view.kwargs.insurance_vehicle_id price.id %}">{{ price }}</a></li>
        {% endfor %}
    </ul>

    <a class="btn btn-primary" href="{% url 'rrggadmin:insurance:vehicle:price:create' view.kwargs.insurance_vehicle_id %}">Crear nuevo</a>
{% endblock container %}
