{% extends "rrggweb/dashboard.html" %}
{% block title_section %}
    {{ title }}
    <h6>{{ subtitle }}</h6>
{% endblock title_section %}
{% block content %}
<form method="post">
	{% csrf_token %}
	{% if form.errors %}
		<div class="alert alert-danger">
			<strong>Error:</strong> Por favor corrija los siguientes errores:
			<ul>
				{% for field in form %}
					{% for error in field.errors %}
						<li>{{ field.label_tag }} {{ error }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{{ form.as_p }}
	<button class="btn btn-primary btn-block mt-3" type="submit" id="next_button">Siguiente</button>
</form>
{% endblock content %}
