{% extends 'rrggweb/dashboard.html' %}

{% block title_section %}
  {{ title }}
  <h6>{{ subtitle }}</h6>
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <a class="btn btn-outline-dark btn-sm mb-3" href="{{ previous_page }}"><i class="fas fa-long-arrow-alt-left"></i> Volver</a>
      <table class="table table-striped mt-3">
        <tbody>
          <tr>
            <th>ID:</th>
            <td>{{ object.id }}</td>
          </tr>
          <tr>
            <th>Cliente:</th>
            <td>{{ object.pick }}</td>
          </tr>
          <tr>
            <th>Tipo de Persona:</th>
            <td>{{ object.type_customer }}</td>
          </tr>
          {% if object.natural_person %}
            <tr>
              <th>Nombre:</th>
              <td>{{ object.natural_person.given_name }}</td>
            </tr>
            <tr>
              <th>Primer Apellido:</th>
              <td>{{ object.natural_person.first_surname }}</td>
            </tr>
            <tr>
              <th>Segundo Apellido:</th>
              <td>{{ object.natural_person.second_surname|default:'-' }}</td>
            </tr>
            <tr>
              <th>Fecha de Nacimiento:</th>
              <td>{{ object.natural_person.birthdate }}</td>
            </tr>
            <tr>
              <th>Teléfono:</th>
              <td>{{ object.natural_person.phone_number }}</td>
            </tr>
            <tr>
              <th>Correo Electrónico:</th>
              <td>{{ object.natural_person.email }}</td>
            </tr>
            <tr>
              <th>Tipo de Documento:</th>
              <td>{{ object.natural_person.document_type }}</td>
            </tr>
            <tr>
              <th>Número de Documento:</th>
              <td>{{ object.natural_person.document_number }}</td>
            </tr>
          {% elif object.legal_person %}
            <tr>
              <th>Nombre Registrado:</th>
              <td>{{ object.legal_person.registered_name }}</td>
            </tr>
            <tr>
              <th>Gerente General:</th>
              <td>{{ object.legal_person.general_manager }}</td>
            </tr>
            <tr>
              <th>Fecha de Aniversario:</th>
              <td>{{ object.legal_person.anniversary_date }}</td>
            </tr>
            <tr>
              <th>Teléfono:</th>
              <td>{{ object.legal_person.phone_number }}</td>
            </tr>
            <tr>
              <th>Correo Electrónico:</th>
              <td>{{ object.legal_person.email }}</td>
            </tr>
            <tr>
              <th>Tipo de Documento:</th>
              <td>{{ object.legal_person.document_type }}</td>
            </tr>
            <tr>
              <th>Número de Documento:</th>
              <td>{{ object.legal_person.document_number }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
