{% extends "rrggweb/dashboard.html" %}
{% block title_section %}
    {{ title }}
    <h6>{{ subtitle }}</h6>
{% endblock title_section %}
{% block content %}
<a href="{{ previous_page }}">Volver a la lista</a>
  <p><strong>ID:</strong> {{ object.id }}</p>
  <p><strong>Cliente:</strong> {{ object.pick }}</p>
  <p><strong>Tipo de Persona:</strong> {{ object.person_type }}</p>
  {% if object.natural_person %}
    <p><strong>Nombre:</strong> {{ object.natural_person.given_name }}</p>
    <p><strong>Primer Apellido:</strong> {{ object.natural_person.first_surname }}</p>
    <p><strong>Segundo Apellido:</strong> {{ object.natural_person.second_surname|default:"-" }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ object.natural_person.birthdate }}</p>
        <p><strong>Teléfono:</strong> {{ object.natural_person.phone_number }}</p>
        <p><strong>Correo Electrónico:</strong> {{ object.natural_person.email }}</p>
        <p><strong>Tipo de Documento:</strong> {{ object.natural_person.document_type }}</p>
      <p><strong>Número de Documento:</strong> {{ object.natural_person.document_number }}</p>
  {% elif object.legal_person %}
    <p><strong>Nombre Registrado:</strong> {{ object.legal_person.registered_name }}</p>
    <p><strong>Gerente General:</strong> {{ object.legal_person.general_manager }}</p>
    <p><strong>Fecha de Aniversario:</strong> {{ object.legal_person.anniversary_date }}</p>
        <p><strong>Teléfono:</strong> {{ object.legal_person.phone_number }}</p>
        <p><strong>Correo Electrónico:</strong> {{ object.legal_person.email }}</p>
        <p><strong>Tipo de Documento:</strong> {{ object.legal_person.document_type }}</p>
      <p><strong>Número de Documento:</strong> {{ object.legal_person.document_number }}</p>
  {% endif %}
{% endblock %}