{% extends "rrggweb/dashboard.html" %}

{% block title_section %}<h3>DATA HISTÓRICA</h3>{% endblock title_section %}

{% block content %}
    <div>
        <p>Años:
            <select id="year-filter">
                <option value="">Todos</option>
                {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </p>

    </div>
    <div id="loader" class="d-flex justify-content-center align-items-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <table id="historical-data-table" class="d-none">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Documento</th>
                <th>Póliza</th>
                <th>Asesor</th>
                <th>Prima Total</th>
                <th>Tipo de riesgo</th>
                <th>Mes</th>
                <th>Año</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for record in data %}
                <tr>
                    <td>{{ record.customer }}</td>
                    <td>{{ record.document_number }}</td>
                    <td>{{ record.policy }}</td>
                    <td>{{ record.consultant }}</td>
                    <td>{{ record.total_premium }}</td>
                    <td>{{ record.risk }}</td>
                    <td>{{ record.months }}</td>
                    <td>{{ record.year }}</td>
                    <td>{{ record.observations }}</td>
                    <td><a href="{% url 'rrggweb:historical_data:detail' view.kwargs.registrar_id record.pk %}" class="btn btn-primary btn-sm">
                        <i class="fa fa-eye"></i> Ver detalle
                    </a>
                        <a href="{% url 'rrggweb:historical_data:update' view.kwargs.registrar_id record.pk %}" class="btn btn-warning btn-sm">
                            <i class="fa fa-edit"></i> Editar
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            var table = $('#historical-data-table').DataTable({
                "pageLength": 10,
                "searching": true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
                },
                "columnDefs": [
                    {
                        "targets": 0,
                        "width": "350px",
                    }
                ],
                "initComplete": function(settings, json) {
                    $('#loader').addClass('d-none');
                    $('#historical-data-table').removeClass('d-none').removeAttr('style');
                }
            });

            $('#year-filter').change(function() {
                var year = $(this).val();
                if (year) {
                    table.column(7).search('^' + year + '$', true, false).draw();
                } else {
                    table.column(7).search('').draw();
                }
            });

        });
    </script>
{% endblock %}
