{% extends 'rrggadmin/base.html' %}
{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div id="layout-wrapper">
  {% include 'rrggadmin/topbar.html' %}
  {% include 'rrggadmin/sidebar.html' %}
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <div class="page-title-box">
          <div class="row align-items-center">
            <div class="col-md-8">
              <h6 class="page-title"> {% block titlebar_title %} {% endblock %}</h6>
            </div>
          </div>
        </div>
        {% block container %} {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
