{% extends 'rrggadmin/dashboard.html' %}
{% block container %}
Opciones
<ul>
  <li><a href="{% url 'rrggadmin:insurance:vehicle:list' %}">Seguros vehiculares</a></li>
  <li><a href="{% url 'rrggadmin:consultant:list' %}">Asesores</a></li>
  <li><a href="{% url 'rrggadmin:user:list' %}">Usuarios</a></li>
  <li><a href="{% url 'rrggadmin:consultant_membership:list' %}">Registro de Asesores</a></li>
  <li><a href="{% url 'rrggadmin:use_type:list' %}">Tipos de uso Vehicular</a></li>
</ul>

<a href="{% url 'rrggadmin:logout' %}">Logout</a>
{% endblock container %}
