{% extends 'rrggadmin/base.html' %}
{% load static %}
{% block title %}
Admin login
{% endblock %}
{% block body %}
<div class="accountbg"
  style="background: url('https://themesbrand.com/veltrix/layouts/assets/images/bg.jpg');background-size: cover;background-position: center;">
</div>
<div class="wrapper-page account-page-full">

  <div class="card shadow-none">
    <div class="card-block">

      <div class="account-box">

        <div class="card-box shadow-none p-4">
          <div class="p-2">
            <div class="text-center mt-4">
              <span class="logo-lg">
                <img src='{% static "web/img/login-logo.png" %}' alt="">
              </span>
            </div>

            <h4 class="font-size-18 mt-5 text-center">¡Bienvenido!</h4>
            <p class="text-muted text-center">Inicia sesión para acceder al panel administrativo</p>

            <form class="mt-4" method="post">
              {% csrf_token %}

              <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Usuario</label>
                {{ form.username }}
                {% if form.username.errors %}
                <div class="invalid-feedback">
                  <i class="fas fa-exclamation-circle mr-2"></i>
                  {% for error in form.username.errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}
              </div>


              <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña</label>
                {{ form.password }}
                {% if form.password.errors %}
                <div class="invalid-feedback">
                  <i class="fas fa-exclamation-circle mr-2"></i>
                  {% for error in form.password.errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}
              </div>

              {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                <i class="bi-exclamation-circle-fill mr-2"></i>
                {% for error in form.non_field_errors %}{{ error }}{% endfor %}
              </div>
              {% endif %}

              <div class="mb-3 row">
                <div class="col-sm-12 text-end">
                  <button class="btn btn-primary w-md waves-effect waves-light w-100" type="submit">Inicia
                    Sesión</button>
                </div>
              </div>

            </form>

            <div class="mt-5 pt-4 text-center">
              </p>
              <p>© <script>
                  document.write(new Date().getFullYear())
                </script>. Hecho con <i class="mdi mdi-heart text-danger"></i> por CRD </p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock body %}
