<aside
  class="d-flex flex-column flex-shrink-0 p-3 text-black bg-light position-fixed overflow-y-auto shadow z-1"
  style="width: 280px; height: 95vh;"
>
  <h5>Administración</h5>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="{% url 'rrggadmin:home' %}"
        class="nav-link
        {% if request.resolver_match.view_name == 'rrggadmin:home' %}
          active
        {% else %}
          text-dark
        {% endif %}
        ">
        <i class="fas fa-home"></i>
        Inicio
      </a>
    </li>
    <li>
      <a href="{% url 'rrggadmin:consultant:list' %}"
        class="nav-link
        {% if ':consultant:' in request.resolver_match.view_name %}
          active
        {% else %}
          text-dark
        {% endif %}
        ">
        <i class="bi bi-person-vcard-fill"></i>
        Asesores
      </a>
    </li>
    <li>
      <a href="{% url 'rrggadmin:consultant_membership:list' %}" class="nav-link text-dark">
        <i class="fas fa-table"></i>
        Registro de Asesores
      </a>
    </li>
    <li>
      <a href="{% url 'rrggadmin:user:list' %}" class="nav-link text-dark">
        <i class="bi bi-people-fill"></i>
        Usuarios
      </a>
    </li>
    <li>
      <a href="{% url 'rrggadmin:area:list' %}" class="nav-link text-dark">
        <i class="bi bi-shield-fill"></i>
        Áreas de Seguros
      </a>
    </li>
    <li>
      <a href="{% url 'rrggadmin:role:list' %}" class="nav-link text-dark">
        <i class="bi bi-person-rolodex"></i>
        Roles
      </a>
    <li>
      <a href="{% url 'rrggadmin:insurance:vehicle:list' %}" class="nav-link text-dark">
        <i class="bi bi-car-front-fill"></i>
        Seguros Vehiculares
      </a>
    </li>
    <li>
      <a href="{% url 'rrggadmin:use_type:list' %}" class="nav-link text-dark">
        <i class="bi bi-truck-front-fill"></i>
        Tipos de uso de Vehicular
      </a>
    </li>
    <li>
      <a href="{% url 'rrggadmin:insurance_vehicle:ratios:list' %}" class="nav-link text-dark">
        <i class="bi bi-truck-front-fill"></i>
        Ratios de Seguros Vehiculares
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
      id="dropdownUser1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="https://github.com/mdo.png"
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>
        {{ user.username }}
      </strong>
    </a>
    <ul
      class="dropdown-menu dropdown-menu-dark text-small shadow"
      aria-labelledby="dropdownUser1"
    >
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="{% url 'rrggadmin:logout' %}">Sign out</a></li>
    </ul>
  </div>
</aside>
