{% extends "rrggweb/issuance/insurance/vehicle/base.html" %}
{% block title_section %}
  {{ title }}
  <h6>{{ subtitle }}</h6>
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% if initial_step == 6 and final_step == 9 %}
        {% include "rrggweb/utils/stepper.html" with step=6 max_step=9 %}
      {% elif initial_step == 7 and final_step == 9 %}
        {% include "rrggweb/utils/stepper.html" with step=7 max_step=9 %}
      {% elif initial_step == 1 and final_step == 6 %}
        {% include "rrggweb/utils/stepper.html" with step=1 max_step=6 %}
      {% elif initial_step == 1 and final_step == 9 %}
        {% include "rrggweb/utils/stepper.html" with step=1 max_step=9 %}
      {% elif initial_step == 2 and final_step == 4 %}
        {% include "rrggweb/utils/stepper.html" with step=2 max_step=4 %}
      {% elif initial_step == 3 and final_step == 5 %}
        {% include "rrggweb/utils/stepper.html" with step=3 max_step=5 %}
      {% endif %}
      <a class="btn btn-outline-dark btn-sm mb-3"
         href="{{ previous_page }}">
        <i class="fas fa-long-arrow-alt-left"></i>Volver
      </a>
      <div class="mt-2">
        {% if seller %}
          <h5>
            Asesor: <b>{{ seller }}</b>
          </h5>
        {% endif %}
        {% if customer %}
          <h5>
            Contratante: <b>{{ customer }}</b>
          </h5>
        {% endif %}
        {% if vehicle or owner %}
          <h5>
            Vehículo: <b>{{ vehicle }}</b>
          </h5>
          <h5>
            Asegurado: <b>{{ owner }}</b>
          </h5>
        {% endif %}
        <hr class="w-25" />
      </div>
      {% if risk_selector %}
        <div>
          <label for="model-choice">Riesgo:</label>
          <select class="form-select mb-3" style="background-color: #e8e8e8;" id="model-choice" disabled>
            {% for choice in risk_selector %}
              <option value={{ choice }}
                    {% endfor %}
                    </select>
            </div>
      {% endif %}
      {% if insurance_vehicle_selector %}
        <div>
          <label for="model-choice">Aseguradora:</label>
          <select class="form-select mb-3" style="background-color: #e8e8e8;" id="model-choice" disabled>
            {% for choice in insurance_vehicle_selector %}
              <option value={{ choice }}
                    {% endfor %}
                    </select>
            </div>
      {% endif %}
      <div>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
