{% extends "rrggweb/quotation/insurance/vehicle/base.html" %}
{% block title_section %}
  Crear Emisión Vehícular - Subir documentos
{% endblock title_section %}
{% block content %}
  {% include "rrggweb/utils/stepper.html" with step=3 max_step=3 %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Subir documentos</h5>
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-3">
                <label for="{{ form.file.id_for_label }}" class="form-label">Archivo</label>
                {{ form.file }}
              </div>
              <button type="submit" class="btn btn-primary">Agregar archivo</button>
              <a href="{% url 'rrggweb:issuance:insurance:vehicle:detail' view.kwargs.consultant_id view.kwargs.issuance_id %}"
                 class="btn btn-secondary">Finalizar</a>
              <input type="hidden" name="issuance" value="{{ view.kwargs.issuance_id }}" />
            </form>
          </div>
        </div>
        {% if documents %}
          <div class="card mt-4">
            <div class="card-header">
              <h5 class="card-title">Documentos</h5>
            </div>
            <ul class="list-group list-group-flush">
              {% for document in documents %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <a href="{{ document.file.url }}" class="text-decoration-none">
                    <i class="fas fa-file-{{ document.file.extension|default:'alt' }}"></i> {{ document.file.name }}
                  </a>
                  <a href="{% url 'rrggweb:issuance:insurance:vehicle:delete_document' view.kwargs.consultant_id document.id view.kwargs.issuance_id %}"
                     class="btn btn-danger">
                     <i class="fas fa-trash-alt"></i> Eliminar
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
