{% extends 'rrggweb/dashboard.html' %} {% block title_section %}
  Detalle de Emisión Vehícular
{% endblock %}
{% block content %}
  <div class="row mb-3">
    <div class="col-12">
      <a href="{% url 'rrggweb:issuance:insurance:vehicle:list' view.kwargs.consultant_id %}" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left"></i> Volver a la lista
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Datos del contratante</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Tipo de documento: DNI</p>
          <p class="card-text">Número de documento: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.customer.document_number }}</p>
          <p class="card-text">Nombres y apellidos: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.customer }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Datos del vendedor</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Tipo de documento: DNI</p>
          <p class="card-text">Número de documento: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.consultant.document_number }}</p>
          <p class="card-text">Nombres y apellidos: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.consultant }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Datos del vehiculo</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Placa: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.plate }}</p>
          <p class="card-text">Marca: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.brand }}</p>
          <p class="card-text">Modelo: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.vehicle_model }}</p>
          <p class="card-text">Año de fabricación: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.fabrication_year }}</p>
          <p class="card-text">Motor: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.engine }}</p>
          <p class="card-text">Chasis: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.chassis }}</p>
          <p class="card-text">Uso: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.use_type }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Datos de la cotización</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Suma asegurada: ${{ object.quotation_vehicle_premium.quotation_insurance_vehicle.insured_amount }}</p>
          <p class="card-text">Aseguradora: {{ object.quotation_vehicle_premium.insurance_vehicle_ratio.insurance_vehicle }}</p>
          <p class="card-text">Prima neta: ${{ object.quotation_vehicle_premium.amount }}</p>
          <p class="card-text">Derecho de emisión: ${{ object.quotation_vehicle_premium.emission_right }}</p>
          <p class="card-text">IGV: ${{ object.quotation_vehicle_premium.tax }}</p>
          <p class="card-text">Tasa: ${{ object.quotation_vehicle_premium.rate }}</p>
          <p class="card-text">Prima total: ${{ object.quotation_vehicle_premium.total }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Detalle de la emisión</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Número de póliza: {{ object.policy }}</p>
          <p class="card-text">Documento de cobranza: {{ object.collection_document }}</p>
          <p class="card-text">Fecha de emisión: {{ object.created|date:'d/m/Y' }}</p>
          <p class="card-text">Fecha de inicio de vigencia: {{ object.initial_validity|date:'d/m/Y' }}</p>
          <p class="card-text">Fecha de fin de vigencia: {{ object.final_validity|date:'d/m/Y' }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
