{% extends 'rrggweb/dashboard.html' %}

{% block title_section %}
  {{ title }}
  <h6>{{ subtitle }}</h6>
{% endblock title_section %}

{% block content %}
  <div class="row mb-3">
    <div class="col-12">
      <a class="btn btn-outline-dark btn-sm" href="{{ previous_page }}">
        <i class="fas fa-arrow-left"></i> Volver a la lista
      </a>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <h5 class="mb-2">Detalle del registro</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Fecha de registro</th>
            <td>{{ object.created }}</td>
          </tr>
          <tr>
            <th>Detalle</th>
            <td>{{ object.detail }}</td>
          </tr>
          <tr>
            <th>Ramo</th>
            <td>{{ issuance.insurance_plan.risk_insurance_vehicle.risk }}</td>
          </tr>
          <tr>
            <th>Aseguradora</th>
            <td>{{ issuance.quotation_vehicle_premiums.first.insurance_vehicle_ratio.insurance_vehicle }}</td>
          </tr>
          <tr>
            <th>Suma asegurada</th>
            <td> {{ object.currency.symbol }}{{ object.insured_amount }}</td>
          </tr>
          <tr>
            <th>Prima neta</th>
            <td>{{ object.currency.symbol }}{{ object.net_premium }}</td>
          </tr>
          <tr>
            <th>Tasa</th>
            <td>{{ object.currency.symbol }}{{ object.rate }}</td>
          </tr>
          <tr>
            <th>Derecho de emisión</th>
            <td>{{ object.currency.symbol }}{{ object.emission_right }}</td>
          </tr>
          <tr>
            <th>Prima comercial</th>
            <td>{{ object.currency.symbol }}{{ object.commercial_premium }}</td>
          </tr>
          <tr>
            <th>IGV</th>
            <td>{{ object.currency.symbol}}{{ object.tax }}</td>
          </tr>
          <tr>
            <th>Prima total</th>
            <td>{{ object.currency.symbol }}{{ object.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h5 class="mb-2">Datos de la emisión</h5>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Documento de cobranza</th>
            <td>{{ object.collection_document }}</td>
          </tr>
          <tr>
            <th>Tipo de moneda</th>
            <td>{{ object.currency }}</td>
          </tr>
          <tr>
            <th>Método de pago</th>
            <td>{{ object.payment_method }}</td>
          </tr>
          <tr>
            <th>Fecha de emisión</th>
            <td>{{ object.issuance_date }}</td>
          </tr>
          <tr>
            <th>Fecha inicio de vigencia</th>
            <td>{{ object.initial_validity }}</td>
          </tr>
          <tr>
            <th>Fecha fin de vigencia</th>
            <td>{{ object.final_validity }}</td>
          </tr>
          <tr>
            <th>Porcentaje de comisión KCS</th>
            <td> {{ kcs_commission_percentage }}%</td>
          </tr>
          <tr>
            <th>Monto comisión neto</th>
            <td>{{ object.currency.symbol }}{{ object.net_commission }}</td>
          </tr>
          <tr>
            <th>Monto comisión KCS</th>
            <td>{{ object.currency.symbol }}{{ object.kcs_commission }}</td>
          </tr>
          <tr>
            <th>Asesor</th>
            <td>{{ issuance.consultant_seller }}</td>
          </tr>
          <tr>
            <th>Porcentaje comisión del asesor</th>
            <td>{% widthratio object.seller_commission_percentage 1 100 %}%</td>
          </tr>
          <tr>
            <th>Monto comisión del asesor</th>
            <td>{{ object.currency.symbol }}{{ object.seller_commission }} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
