{% extends 'rrggweb/dashboard.html' %} {% block title_section %}Lista de emisiones de seguros vehiculares{% endblock %}
{% block content %}
<div class="d-flex justify-content-between mb-3">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <div>
        <a class="btn btn-primary" href="{% url 'rrggweb:issuance:insurance:vehicle:list_quotations' view.kwargs.consultant_id %}">Venta nueva</a></li>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Vehiculo</th>
                <th scope="col">Vigencia</th>
                <th scope="col">Aseguradora</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
    <tbody>
    {% for issuance in object_list %}
        <tr class="">
        <td class="align-middle" scope="row">{{ issuance.quotation_vehicle_premium.quotation_insurance_vehicle.customer }}</td>
        <td class="align-middle">{{ issuance.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle }}</td>
        <td class="align-middle">{{ issuance.final_validity | date:'d/m/Y' }}</td>
        <td class="align-middle">{{ issuance.quotation_vehicle_premium.insurance_vehicle_ratio.insurance_vehicle }}</td>
        <td class="align-middle">
            {% if issuance.status.name == "Vigente" %}
            <span class="badge bg-success align-middle">{{ issuance.status.name |slice:":7"}}</span>
            {% else %}
            <span class="badge bg-danger align-middle">{{ issuance.status.name |slice:":7"}}</span>
            {% endif %}
        </td>
        <td class="align-middle">
            <a class="btn btn-primary" href="{% url 'rrggweb:issuance:insurance:vehicle:detail' view.kwargs.consultant_id issuance.id %}">
            <i class="bi bi-eye"></i>
            </a>
            <a class="btn btn-warning" href="{% url 'rrggweb:issuance:insurance:vehicle:update' view.kwargs.consultant_id issuance.id %}">
            <i class="bi bi-pencil-square"></i>
            </a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
