{% extends "rrggweb/issuance/insurance/vehicle/base.html" %}
{% block title_section %}
  {{ title }}
  <h6>{{ subtitle }}</h6>
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% if step %}
        {% include "rrggweb/utils/stepper.html" with step=1 max_step=4 %}
      {% endif %}
      <a class="btn btn-outline-dark btn-sm mt-3 mb-4"
         href="{{ previous_page }}">
        <i class="fas fa-long-arrow-alt-left"></i>Volver
      </a>
      {% if role_selector %}
        <div>
          <label for="model-choice">Roles:</label>
          <select class="form-select" style="background-color: #e8e8e8;" id="model-choice" disabled>
              {% for choice in role_selector %}
                  <option value={{ choice }}
              {% endfor %}
          </select>
        </div>
      {% endif %}
      <div>
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <button class="btn btn-primary btn-block mt-3" type="submit">Siguiente</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
