{% extends "rrggweb/dashboard.html" %}
{% block title_section %}
  Editar Emisión Vehícular
{% endblock title_section %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      {% include "rrggweb/utils/stepper.html" with step=2 max_step=3 %}
      <a class="btn btn-outline-dark btn-sm mt-3 mb-4"
         href="{% url 'rrggweb:issuance:insurance:vehicle:list' view.kwargs.consultant_id %} ">
        <i class="fas fa-long-arrow-alt-left"></i>
        Volver
      </a>
      <div class="row mb-2">
        <div class="col-6">
          <h5 class="mt-3 mb-1">Datos del contratante</h5>
          <hr class="w-25 mt-1 mb-1" />
          Tipo de documento: DNI
          <br />
          Número de documento: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.customer.document_number }}
          <br />
          Nombres y apellidos: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.customer }}
          <br />
        </div>
        <div class="col-6">
          <h5 class="mt-3">Datos del vendedor</h5>
          <hr class="w-25 mt-1 mb-1" />
          Tipo de documento: DNI
          <br />
          Número de documento: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.consultant.document_number }}
          <br />
          Nombres y apellidos: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.consultant }}
          <br />
        </div>
        <div class="col-6">
          <h6 class="mt-3">Datos del vehiculo</h6>
          <hr class="w-25 mt-1 mb-1" />
          Placa: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.plate }}
          <br />
          Marca: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.brand }}
          <br />
          Modelo: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.vehicle_model }}
          <br />
          Año de fabricación: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.fabrication_year }}
          <br />
          Motor: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.engine }}
          <br />
          Chasis: {{ object.quotation_vehicle_premium.quotation_insurance_vehicle.vehicle.chassis }}
          <br />
        </div>
        <div class="col-6">
          <h6 class="mt-3">Datos de la cotización</h6>
          <hr class="w-25 mt-1 mb-1" />
          Suma asegurada: ${{ object.quotation_vehicle_premium.quotation_insurance_vehicle.insured_amount }}
          <br />
          Aseguradora: {{ object.quotation_vehicle_premium.insurance_vehicle_ratio.insurance_vehicle }}
          <br />
          Prima neta: ${{ object.quotation_vehicle_premium.amount }}
          <br />
          Derecho de emisión: ${{ object.quotation_vehicle_premium.emission_right }}
          <br />
          IGV: ${{ object.quotation_vehicle_premium.tax }}
          <br />
          Tasa: ${{ object.quotation_vehicle_premium.rate }}
          <br />
          Prima total: ${{ object.quotation_vehicle_premium.total }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <form method="post">
            {% csrf_token %}
            {{ form }}
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Editar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
